# DotNet
DotNet/LoanManagement.API/obj/
DotNet/LoanManagement.API/bin/
DotNet/LoanManagement.API/.vs/

# NodeJS
NodeJS/loan-service/node_modules/

# ReactJS
ReactJS/loan-management-system/node_modules/